{% extends 'admin/base.html.twig' %}

{% block title %}Evenement Image {{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            {# Messages Flash #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            <span class="pull-right">
                <a href="{{ path('admin_evenement_index') }}" class="btn btn-xs btn-primary">
                    <i class="fa fa-angle-double-left"></i> Retour aux évènments
                </a>

                {% if evenement_id != null %}
                    <a href="{{ path('admin_evenement_show', {'id': evenement_id}) }}" class="btn btn-xs btn-primary">
                        <i class="fa fa-angle-double-left"></i> Retour à l'evenement
                    </a>
                    <a href="{{ path('admin_evenementimage_new', {'evenement_id': evenement_id}) }}" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i> Ajouter une image
                    </a>
                {% endif %}
            </span>
            <h1>Evenement Image</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Désignation</th>
                    <th>Img</th>
                    <th>Pour la description</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for evenement_image in evenement_images %}
                    <tr>
                        <td>{{ evenement_image.id }}</td>
                        <td>{{ evenement_image.designation }}</td>
                        <td><img src="{{ vich_uploader_asset(evenement_image, 'imageFile')  }}" class="img-md"> </td>
                        <td>
                            {% if evenement_image.isFordescription == true %}
                            <a href="{{ path('admin_imgdescription_description', {id : evenement_image.id }) }}"
                               class="btn btn-xs btn-primary btn-outline"><i class="fa fa-check text-success"></i> Changer</a>
                            {% else %}
                                <a href="{{ path('admin_imgdescription_description', {id : evenement_image.id }) }}"
                                   class="btn btn-xs btn-danger btn-outline"><i class="fa fa-times text-danger"></i> Changer</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ include('admin/evenement/image/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune image</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
