{% extends 'admin/base.html.twig' %}

{% block title %}Quizz Question {{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        {# Messages Flash #}
        {% for message in app.flashes('success') %}
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="col-lg-12">
            <h1>Quizz Question #{{ quizz_question.id }}</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Question</th>
                    <td>{{ quizz_question.question }}</td>
                </tr>
                </tbody>
            </table>

            {% if pg_prcdnt != null and pg_prcdnt == 'admin_quizz_show' %}
            <a href="{{ path('admin_quizz_show', {id : quizz_question.quizz.id }) }}" class="btn btn-xs btn-primary"><< Retour</a>
            {% endif %}
            <a href="{{ path('admin_quizzquestion_edit', {'id': quizz_question.id, 'pg_prcdnt': 'admin_quizzquestion_show'}) }}"
               class="btn btn-xs btn-warning">
                Modifier la question
            </a>

            <a href="{{ path('admin_quizzresponse_new', {'id': quizz_question.id, 'pg_prcdnt': 'admin_quizzquestion_show'}) }}"
               class="btn btn-xs btn-primary">
                <i class="fa fa-plus"></i> Ajouter une réponse possible
            </a>

            <span class="pull-right">{{ include('admin/quizz_question/_delete_form.html.twig') }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Reponses possibles
                    </h2>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Réponses</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for quizz_response in responses %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ quizz_response.response }}</td>
                                <td>
                                    <a href="{{ path('admin_good_response', {id : quizz_response.id}) }}"
                                       class="btn btn-xs btn-circle btn-default">
                                    {{quizz_response.getIsOk() ? '<span class="text-success">Oui<i class="fa fa-check"></i></span>' : '<span class="text-danger">Non<i class="fa fa-times"></i></span>' }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_quizzresponse_edit', {'id': quizz_response.id, 'pg_prcdnt': 'admin_quizzquestion_show', 'id_quizzquestion':quizz_question.id}) }}"
                                       class="btn btn-xs btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {{ include('admin/quizz_response/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun enregistrement!</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
