{% extends 'admin/base.html.twig' %}

{% block title %}QuizzResponse index{% endblock %}

{% block body %}
    <h1>QuizzResponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Response</th>
                <th>IsTrue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz_response in quizz_responses %}
            <tr>
                <td>{{ quizz_response.id }}</td>
                <td>{{ quizz_response.response ? 'Yes' : 'No' }}</td>
                <td>{{ quizz_response.isTrue ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_quizzresponse_show', {'id': quizz_response.id}) }}">show</a>
                    <a href="{{ path('admin_quizzresponse_edit', {'id': quizz_response.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_quizzresponse_new') }}">Create new</a>
{% endblock %}
