{% extends 'admin/base.html.twig' %}

{% block title %}Modifier Banniere {{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Modifier {{ banniere.title }}</h1>
            </div>

            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group col-sm-8 {% if form_errors(form.title) %}has-error{% endif %}">
                    <label>Titre <span class="text-danger">*</span></label>
                    {{ form_widget(form.title, {
                        'attr' : {
                            'class' : 'form-control',
                            'placeholder' : "Désignation"
                        }
                    }) }}
                    <div class="form-error">
                        <small class="text-danger">{{ form_errors(form.title) }}</small>
                    </div>
                </div>
                <div class="form-group col-sm-4 {% if form_errors(form.imageFile) %}has-error{% endif %}">
                    <label>Image <span class="text-danger">*</span></label>
                    {{ form_widget(form.imageFile, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                    <div class="form-error">
                        <small class="text-danger">{{ form_errors(form.imageFile) }}</small>
                    </div>
                </div>

                <div class="form-group col-sm-3 {% if form_errors(form.isActif) %}has-error{% endif %}">
                    <label>Bannière active <span class="text-muted">*</span></label>
                    {{ form_widget(form.isActif, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                    <div class="form-error">
                        <small class="text-danger">{{ form_errors(form.isActif) }}</small>
                    </div>
                </div>

                <div class="form-group col-sm-3 {% if form_errors(form.isTitleVisible) %}has-error{% endif %}">
                    <label>Laisser le titre visble <span class="text-muted">*</span></label>
                    {{ form_widget(form.isTitleVisible, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                    <div class="form-error">
                        <small class="text-danger">{{ form_errors(form.isTitleVisible) }}</small>
                    </div>
                </div>



                <div class="col-sm-12">
                    <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-save"></i> Appliquer les modifications</button>
                    <a href="{{ path("admin_banniere_index") }}" type="button"
                       class="btn btn-default waves-effect waves-light pull-right">Annuler</a>
                </div>
                {{ form_end(form) }}

                <div class="col-md-12">
                    <a href="{{ path('admin_banniere_index') }}" class="btn btn-xs btn-primary m-t-lg"><< Retour aux bannières</a>

                    <span class="pull-right m-t-lg">
                        {{ include('admin/banniere/_delete_form.html.twig') }}
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Aperçu de l'image <i class="fa fa-angle-double-down"></i></h2>
            <img src="{{ vich_uploader_asset(banniere, 'imageFile') }}" class="img-preview">
        </div>
    </div>
{% endblock %}
