{% extends 'admin/base.html.twig' %}

{% block title %}Summaryweek index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                    <h2>Summaryweek index</h2>
                        <span class="pull-right">
                        <a href="{{ path('admin_summaryweek_new') }}" class="btn btn-xs btn-default">
                            <i class="fa fa-plus"></i> Ajouter un résumé
                        </a>
                    </span>
                    </div>

                </div>

                <div class="panel-body">
                    <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>UrlVideo</th>
                    <th>TitleVideo</th>
                    <th>CreditVideo</th>
                    <th>DateVideo</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for summaryweek in summaryweeks %}
                    <tr>
                        <td>{{ summaryweek.id }}</td>
                        <td>{{ summaryweek.content }}</td>
                        <td>{{ summaryweek.urlVideo }}</td>
                        <td>{{ summaryweek.titleVideo }}</td>
                        <td>{{ summaryweek.creditVideo }}</td>
                        <td>{{ summaryweek.dateVideo ? summaryweek.dateVideo|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('admin_summaryweek_show', {'id': summaryweek.id}) }}" class="btn btn-xs btn-default">
                                <i class="fa fa-eye"></i>Voir
                            </a>
                            <a href="{{ path('admin_summaryweek_edit', {'id': summaryweek.id}) }}" class="btn btn-xs btn-warning">
                                <i class="fa fa-edit"></i> Editer
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
