{% extends 'admin/base.html.twig' %}

{% block title %}Résumé de la semaine{% endblock %}

{% block body %}
    <h1>Résumé de la semaine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ summaryweek.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ summaryweek.content }}</td>
            </tr>
            <tr>
                <th>UrlVideo</th>
                <td>{{ summaryweek.urlVideo }}</td>
            </tr>
            <tr>
                <th>TitleVideo</th>
                <td>{{ summaryweek.titleVideo }}</td>
            </tr>
            <tr>
                <th>CreditVideo</th>
                <td>{{ summaryweek.creditVideo }}</td>
            </tr>
            <tr>
                <th>DateVideo</th>
                <td>{{ summaryweek.dateVideo ? summaryweek.dateVideo|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_summaryweek_index') }}"><< Retour</a>

    <a href="{{ path('admin_summaryweek_edit', {'id': summaryweek.id}) }}">Modifier</a>

    {{ include('admin/summaryweek/_delete_form.html.twig') }}
{% endblock %}
