{% extends 'admin/base.html.twig' %}

{% block title %}Quizz {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        {# Messages Flash #}
        {% for message in app.flashes('success') %}
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Quizz

                        <a href="{{ path('admin_quizzcategory_new', {'pg_prcdnt': 'admin_quizz_index'}) }}" class="btn btn-xs btn-primary pull-right">
                            <i class="fa fa-plus"></i> Ajouter une catégorie de quizz
                        </a>

                        <a href="{{ path('admin_quizzcategory_index') }}" class="btn btn-xs btn-primary pull-right m-r-md">
                            <i class="fa fa-eye"></i> Voir les catégories de quizz
                        </a>

                        <a href="{{ path('admin_quizz_new') }}" class="btn btn-xs btn-primary pull-right m-r-md">
                            <i class="fa fa-plus"></i> Ajouter un quizz
                        </a>


                    </h2>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <td>Désignation</td>
                            <td>Content</td>
                            <td>Enregistré le</td>
                            <td>Catégorie</td>
                            <td>Accueil?</td>
                            <td>#</td>
                            <td>Nbr questions</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for quizz in quizzs %}
                            <tr>
                                <td><a href="{{ path('admin_quizz_show', {'id': quizz.id}) }}">{{ quizz.designation }}</a></td>
                                <td>{{ quizz.content | striptags | raw | slice(0, 50) | raw  }}...</td>
                                <td>{{ quizz.createdAt ? quizz.createdAt |date('d-m-Y') : "" }}</td>
                                <td>{{ quizz.quizzCategory ? quizz.quizzCategory : "<span class='strong text-danger'>Non catégorisé</span>" }}</td>
                                <td>{{ quizz.isForhome ? 'Oui' : 'Non' }}</td>
                                <td>
                                    {#
                                    <a href="{{ path('admin_quizz_show', {'id': quizz.id}) }}" class="btn btn-xs btn-default">
                                        <i class="fa fa-eye"></i> Voir
                                    </a>
                                    #}

                                    <a href="{{ path('admin_quizz_edit', {'id': quizz.id}) }}" class="btn btn-xs btn-warning">
                                        <i class="fa fa-pencil"></i> Modifier
                                    </a>

                                    <a href="{{ path('admin_quizzquestion_new', {id:quizz.id}) }}" class="btn btn-xs btn-primary">
                                        <i class="fa fa-plus"></i> Ajouter des questions
                                    </a>

                                </td>
                                <td>
                                    <i class="badge badge-primary">{{ quizz.questions | length }}</i>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Aucun enregistrement!</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

