{% extends 'admin/base.html.twig' %}

{% block title %}Quizz Categorie {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        {# Messages Flash #}
        {% for message in app.flashes('success') %}
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="col-lg-12">
            <h1>Quizz Categorie</h1>

            <a href="{{ path('admin_quizz_index') }}" class="btn btn-xs btn-primary"><< Retour</a>
            <a href="{{ path('admin_quizzcategory_new') }}" class="btn btn-xs btn-primary pull-right">Nouvelle catégorie</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Designation</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for quizz_category in quizz_categories %}
                    <tr>
                        <td>{{ quizz_category.id }}</td>
                        <td>{{ quizz_category.designation }}</td>
                        <td>
                            <a href="{{ path('admin_quizzcategory_show', {'id': quizz_category.id}) }}" class="btn btn-xs btn-primary">Voir</a>
                            <a href="{{ path('admin_quizzcategory_edit', {'id': quizz_category.id}) }}" class="btn btn-xs btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
