{% extends 'admin/base.html.twig' %}

{% block title %}Match {{ parent() }}{% endblock %}

{% block body %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Score Match</h1>
        </div>

        <div class="panel-body">
            {# Messages Flash #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}

            <span class="pull-right">
                    <a href="{{ path('admin_matchcompetition_new') }}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Ajouter</a>
            </span>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th class="text-center">Club1</th>
                        <th></th>
                        <th class="text-center">Club2</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for matchcompetition in matchcompetitions %}
                        <tr>
                            <td>{{ matchcompetition.id }}</td>
                            <td>
                                {{ matchcompetition.dateMatchAt ? matchcompetition.dateMatchAt|date('d-m-Y') : '' }}
                                <br/>
                                <small>{{ matchcompetition.lieu }}</small>
                            </td>
                            <td class="text-center">
                                {{ matchcompetition.club1 }}
                            </td>
                            <td class="text-center">
                                <strong>{{ matchcompetition.scoreClub1 }}</strong>
                                -
                                <strong>{{ matchcompetition.scoreClub2 }}</strong>
                            </td>
                            <td class="text-center">

                                {{ matchcompetition.club2 }}
                            </td>
                            <td>
                                <a href="{{ path('admin_matchcompetition_edit', {'id': matchcompetition.id}) }}" class="btn btn-xs btn-warning">
                                    <i class="fa fa-pencil"></i> Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>






{% endblock %}

