{% extends 'admin/base.html.twig' %}

{% block title %}Option system{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>
                        Options system

                        <a href="{{ path('admin_optionsystem_edit', {'id': optionsystem.id}) }}" class="btn btn-warning btn-md">
                            <i class="fa fa-edit"></i> Modifier
                        </a>
                    </h2>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <tbody>
                <tr>
                    <th>Copyright du footer</th>
                    <td>{{ optionsystem.copyright }}</td>
                </tr>
                <tr>
                    <th>Facebook</th>
                    <td>{{ optionsystem.facebook ? optionsystem.facebook : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>Twitter</th>
                    <td>{{ optionsystem.twitter ? optionsystem.twitter : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>Instagram</th>
                    <td>{{ optionsystem.instagram ? optionsystem.instagram : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>Youtube</th>
                    <td>{{ optionsystem.youtube ? optionsystem.youtube : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>N° Tel</th>
                    <td>{{ optionsystem.tel ? optionsystem.tel : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>{{ optionsystem.email ? optionsystem.email : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ optionsystem.adresse ? optionsystem.adresse : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>
                <tr>
                    <th>URL site web</th>
                    <td>{{ optionsystem.urlsiteweb ? optionsystem.urlsiteweb : "<span class='text-danger'>Non Renseigné</span>" }}</td>
                </tr>

            </tbody>
                    </table>

                </div>

                <div class="ibox-title">
                    <h2>Images systems </h2>
                </div>
                <div class="ibox-content">
                <table>
                    <thead>
                    <tr>
                        <th>Logo principal</th>
                        <th>Logo Mobile</th>
                        <th>Quand il n y a pas d'image</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                {% if optionsystem.imgMainlogo %}
                                    <img class="img-preview-sm" src="{{ vich_uploader_asset(optionsystem, "imgMainlogoFile") }}">
                                {% else %}
                                <span class='text-danger'>Non Renseigné</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if optionsystem.imgMainlogomobile %}
                                    <img class="img-preview-sm" src="{{ vich_uploader_asset(optionsystem, "imgMainlogomobileFile") }}">
                                {% else %}
                                    <span class='text-danger'>Non Renseigné</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if optionsystem.imgNoimage %}
                                    <img class="img-preview-sm" src="{{ vich_uploader_asset(optionsystem, "imgNoimageFile") }}">
                                {% else %}
                                    <span class='text-danger'>Non Renseigné</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
