{% extends 'admin/base.html.twig' %}

{% block title %}Admin{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('medel_assets/admin/css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block body %}

    <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profil</h5>
                        </div>
                        <div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{ app.user }}</strong></h4>
                                <p><i class="fa fa-cog"></i> {{ app.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}

                        <div class="alert alert-danger alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>

                    {% endfor %}
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Modifier mon Mot de passe</h5>
                        </div>
                        <div class="ibox-content">
                                {{ form_start(form) }}


                                    <div class="form-group">
                                        <label>Ancien mot de passe</label>
                                        {{ form_widget(form.oldPassword, {
                                            'attr' : {
                                                'placeholder' : 'Entrez votre ancien mot de passe'
                                            }
                                        }) }}
                                        {{ form_errors(form.oldPassword) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.password) }}
                                    </div>



                                    <div class="form-group">
                                        <button class="btn btn-warning" type="submit">Enregistrer</button>
                                    </div>
                                {{ form_end(form) }}

                        </div>
                    </div>

                </div>
            </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('medel_assets/admin/js/plugins/dataTables/datatables.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('medel_assets/admin/js/axios/axios.min.js') }}"></script>

    <script>

        function onClickBtnIsActif(event){
            event.preventDefault();

            const url = this.href;

            const icone = this.querySelector('i');
            const span = this.querySelector('span');

            axios.get(url).then(function (response) {
                //console.log(response);

                {# modification automatique de l'icone  au clique #}
                if (icone.classList.contains('fa-check')){
                    icone.classList.replace('fa-check', 'fa-times');
                }
                else{
                    icone.classList.replace('fa-times', 'fa-check');
                }

                if (span.classList.contains('btn-info')){
                    span.classList.replace('btn-info', 'btn-danger');
                }
                else{
                    span.classList.replace('btn-danger', 'btn-info');
                }

            }).catch(function (error) {
                if (error.response.status === 403){
                    window.alert('Connectez-vous pour pouvoir continuer')
                }else{
                    window.alert("Une erreur s'est produite, veuillez réessayer plus tard")
                }
            });
        }
        document.querySelectorAll('a.js-isactif').forEach(function (link) {
            link.addEventListener('click', onClickBtnIsActif);
        })

    </script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });

    </script>
{% endblock javascripts %}