{% extends 'admin/base.html.twig' %}

{% block title %}Actu sport {{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            {# Messages Flash #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {#===========================================================#}

            <a href="{{ path('admin_actusport_new') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Ajouter actu sport</a>
            <h1>Actu sport</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th style="min-width: 20px;">#</th>
                    <th>Thème</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Accueil?</th>
                    <th>Img de description?</th>
                    <th>Nbr IMg</th>

                </tr>
                </thead>
                <tbody>
                {% for actusport in actusports %}
                    <tr>
                        <td>{{ actusport.id }}</td>
                        <td>
                            <a href="{{ path('admin_actusport_show', {'id': actusport.id}) }}" class="btn btn-xs btn-primary">
                                <i class="fa fa-eye"></i> </a>
                            <a href="{{ path('admin_actusport_edit', {'id': actusport.id}) }}" class="btn btn-xs btn-warning">
                                <i class="fa fa-pencil"></i> </a>
                        </td>
                        <td>{{ actusport.theme }}</td>
                        <td>
                            <a href="{{ path('admin_actusport_show', {'id': actusport.id}) }}">
                                <strong>{{ actusport.title }}</strong>
                            </a>

                        </td>
                        <td>{{ actusport.content | striptags | raw | slice(0, 80) | raw }}</td>
                        <td>{{ actusport.isForhome ? 'Oui' : 'Non' }}</td>
                        <td>
                            {% for img_desc in actusport.actusportImages | filter(img_desc => img_desc.isFordescription == 1 ) %}
                                Oui
                            {% else %}
                                Aucune
                            {% endfor %}
                        </td>
                        <td>
                            <span class="badge badge-success">{{ actusport.actusportImages |length }}</span>
                            <a href="{{ path('admin_actusportimage_index', {'actusport_id' : actusport.id}) }}" class="btn btn-xs btn-outline btn-primary">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
