<!DOCTYPE html>

{% set current_route = app.request.get('_route') %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} | Telma Admin{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

        <!-- Morris -->
        <link href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">

        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock stylesheets %}

</head>

<body>
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user ? app.user.username : "" }}</strong>
                             </span>
                                <span class="text-muted text-xs block">
                                    <small style="font-size: 9px;">{{ app.user ? app.user.email : "" }} </small>
                                    <b class="caret"></b>
                                </span>
                            </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{ path('website_userprofile') }}">Profil</a></li>
                            {#
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            #}
                            <li class="divider"></li>
                            <li><a href="{{ path('auth_logout') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        AM
                    </div>
                </li>

                <li class="special_link">
                    <a href="{{ path('home') }}"><i class="fa fa-desktop"></i> <span class="nav-label">Tableau de bord</span></a>
                </li>
                <li class="{% if current_route == 'admin_users' or current_route == 'add_user' %} active {% endif %}">
                    <a href="{{ path('admin_users') }}"><i class="fa fa-user-o"></i> <span class="nav-label">Utilisateurs</span></a>
                </li>
                <li class="{{ current_route == 'admin_ile_index' or current_route == 'admin_ile_new'
                or current_route == 'admin_ile_edit' or current_route == 'admin_ile_show'
                or current_route == 'admin_optionsystem_index' or current_route == 'admin_optionsystem_edit' ? 'active' : '' }}">
                    <a href=""><i class="fa fa-cogs"></i> <span class="nav-label">Options système</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ current_route == 'admin_optionsystem_index' or current_route == 'admin_optionsystem_edit' ? 'active' : '' }}>
                            <a href="{{ path('admin_optionsystem_index') }}">Généralités système</a></li>

                        <li class="{{ current_route == 'admin_ile_index' or current_route == 'admin_ile_new'
                        or current_route == 'admin_ile_edit' or current_route == 'admin_ile_show' ? 'active' : '' }}">

                            <a href="{{ path('admin_ile_index') }}">Îles</a></li>
                    </ul>
                </li>
                {#<li>
                    <a href=""><i class="fa fa-diamond"></i> <span class="nav-label"></span></a>
                </li>#}
                <li class="{{ current_route == "admin_discipline_index"
                or current_route == "admin_discipline_new" or current_route == "admin_discipline_edit"
                or current_route == "admin_discipline_show"
                or current_route == "admin_club_index"
                or current_route == "admin_club_new" or current_route == "admin_club_edit"
                or current_route == "admin_club_show"? 'active' : '' }}">
                    <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Clubs</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="{{ current_route == "admin_club_index" or current_route == "admin_club_new"
                        or current_route == "admin_club_edit" or current_route == "admin_club_show" ? 'active' : '' }}">
                            <a href="">Tous les clubs</a>
                        </li>
                        <li class="{% if current_route == "admin_discipline_index"
                        or current_route == "admin_discipline_new" or current_route == "admin_discipline_edit"
                        or current_route == "admin_discipline_show" %} active {% endif %}">
                            <a href="">Discipline</a>
                        </li>

                    </ul>
                </li>

                <li class="{% if current_route == "admin_banniere_index" or current_route == "admin_banniere_new"
                    or current_route == "admin_banniere_edit"
                    or current_route == "admin_presentation_accueil_index" or current_route == "admin_presentation_accueil_new"
                    or current_route == "admin_presentation_accueil_edit"
                    or current_route == "admin_parteners_index" or current_route == "admin_parteners_new"
                    or current_route == "admin_parteners_edit" or current_route == "admin_parteners_show"
                    or current_route == "admin_optslidepartener_index" or current_route == "admin_optslidepartener_edit"
                    or current_route == "admin_optslidepartener_new"
                    or current_route == "admin_evenementvideo_index" and app.request.get('evenement_id') == false
                    or current_route == "admin_evenementvideo_new" and app.request.get('evenement_id') == false
                    or current_route == "admin_evenementvideo_edit" and app.request.get('for_home') %}active{% endif %}">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Accueil</span>
                        <span class="pull-right label label-primary">HOME</span>
                    </a>
                    <ul class="nav nav-second-level collapse">

                        {# Bannière #}
                        <li class="{% if current_route == "admin_banniere_index" or current_route == "admin_banniere_new"
                        or current_route == "admin_banniere_edit" %}active{% endif %}">
                            <a href="">Bannière</a>
                        </li>

                        {# présentation #}
                        <li class="{% if current_route == "admin_presentation_accueil_index" or current_route == "admin_presentation_accueil_new"
                        or current_route == "admin_presentation_accueil_edit" %}active{% endif %}">
                            <a href="">Présentation</a>
                        </li>

                        <li class="{% if current_route == "admin_parteners_index" or current_route == "admin_parteners_new"
                        or current_route == "admin_parteners_edit" or current_route == "admin_parteners_show" %}active{% endif %}">
                            <a href="">Partenaires</a>
                        </li>
                        <li class="{% if current_route == "admin_optslidepartener_index" or current_route == "admin_optslidepartener_edit"
                        or current_route == "admin_optslidepartener_new" %}active{% endif %}">
                            <a href="">Options slide partenaires</a>
                        </li>

                        <li class="{% if current_route == "admin_evenementvideo_index" and app.request.get('evenement_id') == false
                        or current_route == "admin_evenementvideo_new"
                        or current_route == "admin_evenementvideo_edit" and app.request.get('for_home') == true %}active{% endif %}" >
                            <a href="">Vidéos</a></li>
                        {#
                        <li><a href="">Projects</a></li>
                        <li><a href="">Project detail</a></li>
                        <li><a href="">Activity stream</a></li>
                        <li><a href="">Teams board</a></li>
                        <li><a href="">Social feed</a></li>
                        <li><a href="">Clients</a></li>
                        <li><a href="">Outlook view</a></li>
                        <li><a href="">Vote list</a></li>
                        <li><a href="">File manager</a></li>
                        <li><a href="">Calendar</a></li>
                        <li><a href="">Issue tracker</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Article</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Timeline</a></li>
                        <li><a href="">Pin board</a></li>
                        #}
                    </ul>
                </li>

                <li class="{% if current_route == "admin_quizz_index" or current_route == "admin_quizz_new" or current_route == "admin_quizz_edit"
                or current_route == "admin_quizz_show"
                or current_route == "admin_quizzquestion_show" or current_route == "admin_quizzquestion_edit" or current_route == "admin_quizzquestion_new"
                or current_route == "admin_quizz_show"
                or current_route == "admin_quizzresponse_show" or current_route == "admin_quizzresponse_edit"
                or current_route == "admin_quizzresponse_new" %}active{% endif %}">
                    <a href=""><i class="fa fa-question"></i>
                        <span class="nav-label">Quizz</span>
                    </a>
                </li>
                <li class="{% if current_route == "admin_reglement_index" or current_route == "admin_reglement_new"
                    or current_route == "admin_reglement_edit"
                    or current_route == "admin_reglementimages_index" or current_route == "admin_reglementimages_new" %}active{% endif %}">
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Reglement du jeu</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if current_route == "admin_reglement_index" or current_route == "admin_reglement_new"
                        or current_route == "admin_reglement_edit"
                        or current_route == "admin_reglementimages_index" or current_route == "admin_reglementimages_new" %}active{% endif %}">
                            <a href="">Reglement du jeu</a>
                        </li>
                        {#
                        <li><a href="">Advanced Plugins</a></li>
                        <li><a href="">Wizard</a></li>
                        <li><a href="">File Upload</a></li>
                        <li><a href="">Text Editor</a></li>
                        <li><a href="">Autocomplete</a></li>
                        <li><a href="">Markdown</a></li>
                        #}
                    </ul>
                </li>

                <li class="{% if current_route == 'admin_actusport_index' or current_route == 'admin_actusport_new'
                or current_route == 'admin_actusport_edit' or current_route == 'admin_actusport_show'
                or current_route == 'admin_actusportimage_index' or current_route == 'admin_actusportimage_new'
                or current_route == 'admin_actusportimage_edit'
                or current_route == 'admin_actusporttheme_index' or current_route == 'admin_actusporttheme_new'
                or current_route == 'admin_actusporttheme_edit' or current_route == 'admin_actusporttheme_show'
                or current_route == 'admin_infoflash_index' or current_route == 'admin_infoflash_new'
                or current_route == 'admin_infoflash_edit' or current_route == 'admin_infoflash_show'
                or current_route == 'admin_athletes_index' or current_route == 'admin_athletes_new'
                or current_route == 'admin_athletes_edit' or current_route == 'admin_athletes_show'
                or current_route == 'admin_disciplineactusport_index' or current_route == 'admin_disciplineactusport_edit'
                or current_route == 'admin_disciplineactusport_show'
                or current_route == 'admin_matchcompetition_index' or current_route == 'admin_matchcompetition_new'
                or current_route == 'admin_matchcompetition_edit'
                or current_route == 'admin_summaryweek_index' or current_route == 'admin_summaryweek_new'
                or current_route == 'admin_summaryweek_edit' or current_route == 'admin_summaryweek_show' %}active{% endif %}">
                    <a href="#"><i class="fa fa-soccer-ball-o"></i> <span class="nav-label">Actu Sport</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if current_route == 'admin_matchcompetition_index' or current_route == 'admin_matchcompetition_new'
                        or current_route == 'admin_matchcompetition_edit' %}active{% endif %}">
                            <a href="">Match</a>
                        </li>
                        <li class="{% if current_route == 'admin_actusport_index' or current_route == 'admin_actusport_new'
                        or current_route == 'admin_actusport_edit' or current_route == 'admin_actusport_show'
                        or current_route == 'admin_actusportimage_index' or current_route == 'admin_actusportimage_new' %}active{% endif %}">
                            <a href="">Actu sport</a>
                        </li>

                        <li class="{% if current_route == 'admin_actusporttheme_index' or current_route == 'admin_actusporttheme_new'
                        or current_route == 'admin_actusporttheme_edit' or current_route == 'admin_actusporttheme_show' %}active{% endif %}">
                            <a href="">Thème</a>
                        </li>
                        <li class="divider"></li>
                        <li class="{% if current_route == 'admin_infoflash_index' or current_route == 'admin_infoflash_new'
                        or current_route == 'admin_infoflash_edit' or current_route == 'admin_infoflash_show' %}active{% endif %}">
                            <a href="">Actu flash</a>
                        </li>

                        <li class="{% if current_route == 'admin_summaryweek_index' or current_route == 'admin_summaryweek_new'
                        or current_route == 'admin_summaryweek_edit' or current_route == 'admin_summaryweek_show' %}active{% endif %}">
                            <a href="">Résumé semaine</a>
                        </li>

                        <li class="{% if current_route == 'admin_athletes_index' or current_route == 'admin_athletes_new'
                        or current_route == 'admin_athletes_edit' or current_route == 'admin_athletes_show' %}active{% endif %}">
                            <a href="">Athlètes à l'ext.</a>
                        </li>

                        <li class="{% if current_route == 'admin_disciplineactusport_index' or current_route == 'admin_disciplineactusport_edit'
                        or current_route == 'admin_disciplineactusport_show' %}active{% endif %}">
                            <a href="">Images par discipline</a>
                        </li>
                    </ul>

                </li>

                <li class="{% if current_route == "admin_evenement_index" or current_route == "admin_evenement_new"
                or current_route == "admin_evenement_edit" or current_route == "admin_evenement_show"
                or current_route == "admin_evenementimage_index" or current_route == "admin_evenementimage_new"
                or current_route == "admin_evenementcategory_index" or current_route == "admin_evenementcategory_new"
                or current_route == "admin_evenementcategory_edit"
                or current_route == "admin_evenementimages_index" or current_route == "admin_evenementimages_new"
                or current_route == "admin_evenementvideo_index" and app.request.get('evenement_id')
                or current_route == "admin_evenementvideo_new" and app.request.get('evenement_id')
                or current_route == "admin_evenementvideo_edit" and app.request.get('for_home')==false %}active{% endif %}">
                    <a href="#"><i class="fa fa-calendar"></i> <span class="nav-label">Evènements</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if current_route == "admin_evenement_index" or current_route == "admin_evenement_new"
                        or current_route == "admin_evenement_edit" or current_route == "admin_evenement_show"
                        or current_route == "admin_evenementimages_index" or current_route == "admin_evenementimages_new" %}active{% endif %}">
                            <a href="">Evènements</a>
                        </li>

                        <li class="{% if current_route == "admin_evenementcategory_index" or current_route == "admin_evenementcategory_new"
                        or current_route == "admin_evenementcategory_edit" %}active{% endif %}">
                            <a href="">Catégories</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            {#
            <form role="search" class="navbar-form-custom" action="">
                <div class="form-group">
                    <input type="text" placeholder="Recherche ..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
            #}
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenue {{ app.user ? app.user.username : '' }}</span>
                </li>

                {# Notifications et message #}
                {#
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="medel_assets/admin/img/a7.jpg">
                                </a>
                                <div>
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="medel_assets/admin/img/a4.jpg">
                                </a>
                                <div>
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="medel_assets/admin/img/profile.jpg">
                                </a>
                                <div>
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                #}



                <li>
                    <a href="{{ path('auth_logout') }}">
                        <i class="fa fa-sign-out"></i> Déconnexion
                    </a>
                </li>
                {#
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                #}
            </ul>

        </nav>
        </div>


        <div class="wrapper wrapper-content">
            {% block body %}

            {% endblock %}
        </div>

            {% block footer %}
                <div class="footer">
                    <div class="pull-right">
                        <strong>By Mkombé - Medel</strong> App V1
                    </div>
                    <div>
                        <strong>Copyright</strong> Clinique Comores &copy; 2022
                    </div>
                </div>
            {% endblock %}

        </div>
        {% block right_sidebar %}
        {#{% include"admin/_includes/_right_sidebar.html.twig" %}#}
        {% endblock %}
    </div>

    {% block javascripts %}
        <!-- Mainly scripts -->
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
        <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{{ asset('js/inspinia.js') }}"></script>
        <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    {% endblock %}
</body>
</html>
