{% extends 'admin/base.html.twig' %}

{% block title %}Edit Presentation {{ parent() }}{% endblock %}

{% block body %}

    <div class="row col-sm-12 col-xs-12">
        <div class="row">
            <h1 class="col-md-12">Modifier {{ presentation.title }}</h1>

            {{ form_start(form) }}
            <div class="form-group col-sm-12 {% if form_errors(form.title) %}has-error{% endif %}">
                <label>Titre <span class="text-danger">*</span></label>
                {{ form_widget(form.title, {
                    'attr' : {
                        'class' : 'form-control',
                        'placeholder' : "Titre"
                    }
                }) }}
                <div class="form-error">
                    <small class="text-danger">{{ form_errors(form.title) }}</small>
                </div>
            </div>
            <div class="form-group col-sm-12 {% if form_errors(form.content) %}has-error{% endif %}">
                <label>Contenu Présentation <span class="text-danger">*</span></label>
                {{ form_widget(form.content, {
                    'attr' : {
                        'class' : 'form-control',
                        'placeholder' : "Contenu"
                    }
                }) }}
                <div class="form-error">
                    <small class="text-danger">{{ form_errors(form.content) }}</small>
                </div>
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-info waves-effect waves-light">Enregistrer</button>
                <a href="{{ path("admin_presentation_accueil_index") }}" type="button"
                   class="btn btn-default waves-effect waves-light pull-right">Annuler
                </a>

            </div>
            {{ form_end(form) }}


            <span class="pull-left m-r-md m-t-xl">
            <a href="{{ path('admin_presentation_accueil_index') }}" class="btn btn-xs btn-primary m-l-md"><< Retour</a>
            </span>
            <span class="pull-right m-r-md m-t-xl">
                {% if is_granted('ROLE_SUPERADMIN') %}
                    {{ include('admin/presentation_accueil/_delete_form.html.twig') }}
                {% endif %}
            </span>
        </div>
    </div>




{% endblock %}
