{% extends 'admin/base.html.twig' %}

{% block title %}Editer Ile{% endblock %}

{% block body %}

        <div class="row col-sm-12 col-xs-12">
            <div class="row">
            <h1>Modifier Île</h1>

            {{ form_start(form) }}
                <div class="form-group col-sm-12 {% if form_errors(form.designation) %}has-error{% endif %}">
                    <label>Désignation <span class="text-danger">*</span></label>
                    {{ form_widget(form.designation, {
                        'attr' : {
                            'class' : 'form-control',
                            'placeholder' : "Désignation"
                        }
                    }) }}
                    <div class="form-error">
                        <small class="text-danger">{{ form_errors(form.designation) }}</small>
                    </div>
                </div>

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Enregistrer</button>
                    <a href="{{ path("admin_ile_index") }}" type="button"
                       class="btn btn-default waves-effect waves-light pull-right">Annuler</a>
                </div>
            {{ form_end(form) }}

                <div class="hr-line-dashed"></div>
        {#
        {{ include('admin/ile/_form.html.twig', {'button_label': 'Modifier'}) }}
        #}
                <span class="m-l-md">
                    <a href="{{ path('admin_ile_index') }}" class="btn btn-xs btn-primary m-t-xl"><< Retour</a>
                </span>

                <span class="pull-right m-r-md m-t-xl">
                    {{ include('admin/ile/_delete_form.html.twig') }}
                </span>
        </div>
    </div>
{% endblock %}
