{% extends 'admin/base.html.twig' %}

{% block title %}Actu flash {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {# Messages Flash #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('admin_infoflash_new') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Ajouter </a>
            <h1>Actu flash</h1>

            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Nbr img</th>
                <th>Affiché</th>
                <th>Date d'ajout</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for infoflash in infoflashes %}
            <tr>
                <td>{{ infoflash.id }}</td>
                <td>{{ infoflash.title }}</td>
                <td>{{ infoflash.content | striptags | raw | slice(0, 80) | raw }}</td>
                <td>
                    <span class="badge badge-success">{{ infoflash.infoflashImages |length }}</span>
                    {#
                    <a href="" class="btn btn-outline btn-xs btn-primary btn-circle">
                        <i class="fa fa-eye"></i>
                    </a>
                    #}
                </td>


                <td>{{ infoflash.isDisplayed ? '<strong>Oui</strong>' : 'Non' }}
                    <a href="{{ path('admin_infoflash_displaying', {id : infoflash.id}) }}"
                       class="btn {{ infoflash.isDisplayed ? 'btn-success' : 'btn-warning' }} btn-xs btn-circle btn-outline">
                            <i class="fa fa-refresh"></i>
                    </a>
                </td>
                <td>{{ infoflash.createdAt ? infoflash.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_infoflash_show', {'id': infoflash.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('admin_infoflash_edit', {'id': infoflash.id}) }}" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </a>
                    {{ include('admin/infoflash/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune info flash</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
{% endblock %}
