{% extends 'admin/base.html.twig' %}

{% block title %}Actu flash {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {% for message in app.flashes('success') %}

                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>

            {% endfor %}

            <h1>Actu flash</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ infoflash.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ infoflash.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ infoflash.content }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ infoflash.createdAt ? infoflash.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('admin_infoflash_edit', {'id': infoflash.id, 'pg_prcdnt': 'admin_infoflash_show'}) }}" class="btn btn-xs btn-warning">
                Modifier <i class="fa fa-edit"></i> </a>

            <span class="pull-right">{{ include('admin/infoflash/_delete_form.html.twig') }}</span>

        </div>
        <a href="{{ path('admin_infoflash_index') }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>
        <div class="hr-line-dashed m-t-lg"></div>

        <div class="col-sm-12">
            <h2 class="m-t-lg">Images</h2>
            {% for image in infoflash.getInfoflashImages() %}
            <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-md">
                    {{ include('admin/infoflash/image/_delete_form.html.twig') }}
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
