{% extends 'admin/base.html.twig' %}

{% block title %}Modifier {{ evenement_category.designation }} {{ parent() }}{% endblock %}

{% block body %}
    <h1>Modifier {{ evenement_category }}</h1>

    {{ include('admin/evenement/category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_evenementcategory_index') }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>

    <span class="pull-right">{{ include('admin/evenement/category/_delete_form.html.twig') }}</span>
{% endblock %}
