{% extends 'admin/base.html.twig' %}

{% block title %}Reglement Images {{ parent() }}{% endblock %}

{% block body %}

   <div class="row">
       <div class="col-lg-12">
           {% for message in app.flashes('success') %}
               <div class="col-lg-12">
                   <div class="alert alert-success alert-dismissable ">
                       <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                       {{ message }}
                   </div>
               </div>
           {% endfor %}

           <span class="pull-right">
           <a href="{{ path('admin_reglement_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-arrow-left"></i><<< Retour</a>
           <a href="{{ path('admin_reglementimages_new') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Ajouter une seule image</a>
           <a href="{{ path('admin_reglement_edit', {id : reglement.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Ajouter +sieurs images</a>
           </span>
           <h1>Reglement Images</h1>

           <table class="table">
               <thead>
               <tr>
                   <th>#</th>
                   <th>Img</th>
                   <th>#</th>
               </tr>
               </thead>
               <tbody>
               {% for reglement_image in reglement_images %}
                   <tr>
                       <td>{{ reglement_image.id }}</td>
                       <td><img src="{{ vich_uploader_asset(reglement_image, 'imageFile') }}" alt="{{ reglement_image.id }}"
                                style="height: 100px; width: auto;">
                       </td>
                       <td>
                           {{ include('admin/reglement/images/_delete_form.html.twig') }}
                       </td>
                   </tr>
               {% else %}
                   <tr>
                       <td colspan="3">Aucune image</td>
                   </tr>
               {% endfor %}
               </tbody>
           </table>


       </div>
   </div>
{% endblock %}
