{% extends 'base.html.twig' %}

{% block title %}Cas index{% endblock %}

{% block body %}
    <h1>Cas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebutCasAt</th>
                <th>Histoire maladie</th>
                <th>Remarques</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ca in cas %}
            <tr>
                <td>{{ ca.id }}</td>
                <td>{{ ca.dateDebutCasAt ? ca.dateDebutCasAt|date('Y-m-d') : '' }}</td>
                <td>{{ ca.histoireMaladie | raw }}</td>
                <td>{{ ca.remarques }}</td>
                <td>
                    <a href="{{ path('app_cas_show', {'id': ca.id}) }}">show</a>
                    <a href="{{ path('app_cas_edit', {'id': ca.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cas_new') }}">Create new</a>
{% endblock %}
