{% extends 'base.html.twig' %}

{% block title %}Cas{% endblock %}

{% block body %}
    <h1>Cas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ca.id }}</td>
            </tr>
            <tr>
                <th>DateDebutCasAt</th>
                <td>{{ ca.dateDebutCasAt ? ca.dateDebutCasAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Plaintes</th>
                <td>{{ ca.plaintes }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ ca.remarques }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cas_index') }}">back to list</a>

    <a href="{{ path('app_cas_edit', {'id': ca.id}) }}">edit</a>

    {{ include('cas/_delete_form.html.twig') }}
{% endblock %}
