{% extends 'base.html.twig' %}

{% block title %}Nouvelle visite {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Nouvelle visite {{ cas.patient }}</h1>
                </div>

                <div class="panel-body">
                    {{ form_start(form) }}

                    <div class="col-sm-4 m-t-lg">
                        <strong>{{ cas.patient }}</strong>, Dans le cadre du cas de
                    </div>
                    <div class="form-group col-sm-4 {% if form_errors(form.cas) %}has-error{% endif %}">

                        <label>Cas <span class="text-danger">*</span></label>
                        {{ form_widget(form.cas, {
                            'attr' : {
                                'class' : 'form-control',
                                'placeholder' : "Cas"
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.cas) }}</small>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>En date du <span class="text-danger">*</span></label>
                        {{ form_widget(form.dateVisiteAt, {
                            'attr' : {
                                'class' : 'form-control'
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.dateVisiteAt) }}</small>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 {% if form_errors(form.motif) %}has-error{% endif %}">
                        <label>Motif <span class="text-danger">*</span></label>
                        {{ form_widget(form.motif, {
                            'attr' : {
                                'class' : 'form-control',
                                'placeholder' : "Motif"
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.motif) }}</small>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 {% if form_errors(form.interrogatoire) %}has-error{% endif %}">
                        <label>Interrogatoire <span class="text-danger">*</span></label>
                        {{ form_widget(form.interrogatoire, {
                            'attr' : {
                                'class' : 'form-control'
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.interrogatoire) }}</small>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 {% if form_errors(form.examen) %}has-error{% endif %}">
                        <label>Examen <span class="text-danger">*</span></label>
                        {{ form_widget(form.examen, {
                            'attr' : {
                                'class' : 'form-control'
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.examen) }}</small>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 {% if form_errors(form.conclusion) %}has-error{% endif %}">
                        <label>Conclusion <span class="text-danger">*</span></label>
                        {{ form_widget(form.conclusion, {
                            'attr' : {
                                'class' : 'form-control'
                            }
                        }) }}
                        <div class="form-error">
                            <small class="text-danger">{{ form_errors(form.conclusion) }}</small>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-save"></i> Enregistrer</button>
                        <a href="{{ path("app_patient_index") }}" type="button"
                           class="btn btn-default waves-effect waves-light pull-right">Annuler</a>
                    </div>
                    {{ form_end(form) }}

                    <div class="col-md-12">
                        {% if cas != null %}
                        <a href="{{ path('app_patient_show', {id: cas.patient.id }) }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
